In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt

## Criando DataFrames e Series
** ** **Bold** \
_ _ _Italic_

In [8]:
frame = pd.DataFrame(np.arange(12.).reshape(4, 3), index=["Utah", "Ohio", "Arizona", "Washington"], columns=list("abc"))
frame

              a     b     c
Utah        0.0   1.0   2.0
Ohio        3.0   4.0   5.0
Arizona     6.0   7.0   8.0
Washington  9.0  10.0  11.0

In [9]:
series1 = frame.iloc[0]
series1

a    0.0
b    1.0
c    2.0
Name: Utah, dtype: float64

In [10]:
series2  = frame["a"]
series2

Utah          0.0
Ohio          3.0
Arizona       6.0
Washington    9.0
Name: a, dtype: float64

In [15]:
series1["a"]

0.0